<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="selenium.APIS.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
  <test thread-count="5" name="selenium">
    <classes>
   
      <class name="selenium.APIS.FlightBookingHomePageTest"/>
      <class name="selenium.APIS.ChoseFlightPageTest"/>
       <class name="selenium.APIS.FillDetailsPageTest"/>
      <class name="selenium.APIS.PurchaseConfirmationPageTest"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="RestAssured">
    <classes>
    <class name="restapi.RestApi"/>
      </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
